<!DOCTYPE html>
<html>
<head>
  <title>Recruiter</title>
  <%= stylesheet_link_tag    "recruiter/application", media: "all" %>
  <%= javascript_include_tag "recruiter/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
