<% title article.decorate.title  %>

<article>
  <header>
    <h1><%= article.decorate.title %></h1>
  </header>

  <%= to_markdown(article.body) %>

  <footer>
    <p><%= article.decorate.publication %></p>
  </footer>
</article>
